@media(width>600px){
    .pc-navbar{
        width: 1037px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        .pc-titles{
            width: 520px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #677510;
            div{
                cursor: pointer;
                width: 72px;
                height: 24px;
                line-height: 24px;
            }
            .chosen-color{
                color:#B5CC22
            }
        }
        .pc-login-button{
            width: 85px;
            height: 40px;
            line-height: 40px;
            border-radius: 100px;
            background-color: #B5CC22;
            color: #fff;
            text-align: center;
        }
    }
}
